.container {
    background-color: black;
    display: flex;
    width: 100%;
    height: 500px;
    overflow-x: auto;
}

.container img {
    height: 380px;
    margin-top: 5px;
    width: 250px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.7;
    transition: 1.2s ease;
}

.container img:hover {
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.content {
    width: 130px;
    position: relative;
    transition: all 0.8s ease;
    padding: 0 10px;
    opacity: 0.8;
    margin-bottom: 0;
}

.content:hover {
    width: 300px;
    opacity: 1;
    text-align: center;
    padding: 0 10px;
}

.content p {
    color: rgb(255, 255, 255);
    font-size: 12px;
    position: relative;
    margin: 0;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    opacity: 0;
}

.content:hover p {
    opacity: 1;
    transition: opacity 2.3s ease-in;
}

.content p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(17, 129, 154);
    transition: width 1.2s ease-in;
}

.content:hover p::after {
    width: 100%;
}

h2 {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    border: 1px solid rgb(17, 129, 154);
    margin-top: 5px;
}

.explicacion {
    width: 25%;
    margin: 20px auto;
}

.explicacion h1 {
    color: white;
    font-size: 28px;
    border-bottom: solid 1px rgb(17, 129, 154);
    margin-bottom: 20px;
    text-align: center;
}

.explicacion p {
    color: white;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.6;
}
