@font-face {
    font-family: "orbitron";
    src: url("../assets/font/Orbitron-VariableFont_wght.ttf") format("truetype");
}

*{
        font-family: orbitron;
        overflow: hidden;
        padding:0;
        margin:0;
        color: rgb(0, 136, 255);
            
}
