main {
    background-image: url(../../assets/img/futurista.jpg);
    background-color: rgba(0, 0, 0, 0.4); 
    background-blend-mode: overlay;
    background-size: cover;
    width: 100%;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

#Presentacion {
    align-items: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}





