* {
    text-decoration: none;
}

header .navbar {
    background: linear-gradient(90deg, #000000, #060224, #1b2046);
    color: rgb(17, 129, 154);
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    cursor: pointer;
}

.navbar img {
    width: 80px;
    height: 60px;
    padding: 10px;
    margin-left: 0px;
}

.navbar .list-item li:hover {
    transition: 0.3s;
    transform: scale(1.15);
    color: rgb(0, 119, 255);
}
